section.row.marginBottom-xl
    div.marginTop-l.marginBottom-l.col.col--12-of-12
        h2.fontSize-xxxl.fontWeight-4 Цвета

section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Основные цвета
        p.c-silver.c-silver.lineHeight-l.fontSize-l.fontWeight-3 Основные цвета проекта используются в элементах интерфейса, маркетинговой и печтаной продукции. Каждый цвет имеет светлый и темный оттенок.

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadiusTop-m.box-color.bg__club_yellow_l
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  ffc233
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  255, 194, 51
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 24, 80, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  123 C

            div.color-palette__item.borderRadius-0.box-color.bg__club_yellow
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  ffb300
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  255, 179, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 30, 100, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  7409 C

            div.color-palette__item.borderRadiusBottom-m.box-color.bg__club_yellow_d
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  f0a800
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  240, 168, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 30, 100, 6
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  124 C

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadiusTop-m.box-color.bg__club_green_l
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  49c769
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  73, 199, 105
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  63, 0, 47, 22
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2270 C

            div.color-palette__item.borderRadius-0.box-color.bg__club_green
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  34a952
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  52, 169, 82
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  69, 0, 51, 34
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2257 C

            div.color-palette__item.borderRadiusBottom-m.box-color.bg__club_green_d
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  309d4c
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  48, 157, 76
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  69, 0, 52, 38
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  7739 C

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadiusTop-m.box-color.bg__club_blue_l
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  3e4a6b
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  62, 74, 107
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  42, 31, 0, 58
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2111 C

            div.color-palette__item.borderRadius-0.box-color.bg__club_blue
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  2b344b
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  43, 52, 75
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  43, 31, 0, 71
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2380 C

            div.color-palette__item.borderRadiusBottom-m.box-color.bg__club_blue_d
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  252d41
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  37, 45, 65
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  43, 31, 0, 75
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  533 C

section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Серые цвета
        p.c-silver.c-silver.lineHeight-l.fontSize-l.fontWeight-3 Серые цвета используются для заголовков, текста, фонового цвета, границ и разделителей.

    div.col.col--3-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_black
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  1f2d3d
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  31, 45, 61
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  49, 26, 0, 76
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2380 C

    div.col.col--3-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_grey
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  273444
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  39, 52, 68
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  43, 24, 0, 73
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2380 C

    div.col.col--3-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_light-grey
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  3c4858
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  60, 72, 88
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  32, 18, 0, 65
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2379 C

    div.col.col--3-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_extra-light-grey
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  8492a6
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  132, 146, 166
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  20, 12, 0, 35
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  2164 C

    div.col.col--6-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_dark-snow
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  hex
                        span.fontWeight-3  eff2f7
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  rgb
                        span.fontWeight-3  239, 242, 247
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  cmyc
                        span.fontWeight-3  3, 2, 0, 3
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  Pantone
                        span.fontWeight-3  656 C

    div.col.col--6-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_snow
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  hex
                        span.fontWeight-3  f9fafc
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  rgb
                        span.fontWeight-3  249, 250, 252
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  cmyc
                        span.fontWeight-3  1, 1, 0, 1
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-black.textTransform-uppercase  Pantone
                        span.fontWeight-3  663 C

section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs UI цвета
        p.c-silver.c-silver.lineHeight-l.fontSize-l.fontWeight-3 Основные UI цвета используются для акцентирования, сообщений об успехе или ошибке и сообщений предупреждающего характера.

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_positive
                div.padding-s
                    p.color-palette__color-title.fontSize-m.lineHeight-l.c-white Позитивный
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  34A952

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_negative
                div.padding-s
                    p.color-palette__color-title.fontSize-m.lineHeight-l.c-white Негативный
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  FF4949

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadius-m.box-color.bg__club_warning
                div.padding-s
                    p.color-palette__color-title.fontSize-m.lineHeight-l.c-white Предупреждающий
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  FFB300