section.row.marginBottom-m
    div.marginTop-l.marginBottom-m.col.col--12-of-12
        h2.fontSize-xxxl.lineHeight-xxxl.fontWeight-4 Деловая документация

section.row.marginBottom-xl
    div.marginTop-m.marginBottom-l.col.col--12-of-12
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--blue.fontSize-m.lineHeight-l.marginRight-s(href='#address') Адресный блок
            div.projects-nav__item
                a.link.link--blue.fontSize-m.lineHeight-l.marginRight-s(href='#vcards') Визитные карточки
            div.projects-nav__item
                a.link.link--blue.fontSize-m.lineHeight-l.marginRight-s(href='#badge') Бейдж
            div.projects-nav__item
                a.link.link--blue.fontSize-m.lineHeight-l.marginRight-s(href='#blanks') Фирменные бланки
            div.projects-nav__item
                a.link.link--blue.fontSize-m.lineHeight-l.marginRight-s(href='#envelops') Конверты
            div.projects-nav__item
                a.link.link--blue.fontSize-m.lineHeight-l.marginRight-s(href='#folders') Папки для бумаг


section.row.marginBottom-l
    div.col.col--12-of-12
        p#address.fontSize-xxl.lineHeight-xl.fontWeight-4 Адресный блок

section.row.marginBottom-l
    div.col.col--7-of-12
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Все корпоративные документы проекта «Клуб творцов жизни» содержат блок с адресами, телефонами, электронной почтой и сайтом компании.
        div.bg__club_snow.box-border.borderRadius-m.marginBottom-s
            div.padding-m
                p.lineHeight-l.fontSize-xl.fontWeight-3.marginBottom-s пер. Уланский, д. 13, стр. 4, пом. 1, г. Москва, 101000
                p.lineHeight-l.fontSize-xl.fontWeight-3.marginBottom-s Тел.: (800) 301-00-77, факс: (499) 301-00-77
                p.lineHeight-l.fontSize-xl.fontWeight-3 club@dowlatow.ru, www.club.dowlatow.ru


section.row.marginBottom-xl
    div.col.col--7-of-12
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-m Реквизиты почтового адреса оформляются согласно новым российским стандартам, принятым в 2010 году, и пишутся в следующем порядке:
        ol
            li.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs название компании;
            li.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs название улицы, номер дома, строение, номер офиса;
            li.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs название населенного пункта;
            li.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs почтовый индекс;
            li.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l название страны (для международной корреспонденции, отдельной строкой).

    div.col.col--5-of-12
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-m На английском языке адресный блок будет выглядеть следующим образом:
        p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs 13/4 Ulanskiy, Moscow 101000
        p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Tel.: +7 (800) 301-00-77
        p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Fax: +7 (499) 301-00-77


section.row.marginBottom-xl
    div.col.col--7-of-12
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Телефонные номера должны оформляться в соответствии с примерами, приведенными ниже.

        p.fontSize-l.lineHeight-l.marginBottom-xs.fontWeight-4 Номера с кодом города:
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs +7 (499) 301-00-77
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l +7 (4993) 01-00-77

        p.fontSize-l.lineHeight-l.marginBottom-xs.fontWeight-4 Номера мобильных телефонов:
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l 8 499 301-00-77

        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-s Если необходимо указать несколько телефонных номеров, они пишутся в одну строчку, через запятую. Общий для всех номеров код города указывается один раз перед первым номером:
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l (499) 301-00-77, 301-00-77

    div.col.col--5-of-12
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-m Международное обозначение российских телефонных номеров:
        p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs +7 499 301-00-77
        p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l +7 4993 01-00-77


section.row.marginBottom-xl
    div.col.col--7-of-12
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Правила написания электронных адресов
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-m Адреса электронной почты и сайта указываются после телефонных номеров. Адрес сайта начинается с www (http:// не пишется никогда).

    div.col.col--5-of-12
        p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs club@dowlatow.ru
        p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l www.club.dowlatow.ru



section.row.marginBottom-l
    div.col.col--12-of-12
        p#vcards.fontSize-xxl.lineHeight-xl.fontWeight-4 Визитные карточки

section.row.marginBottom-l
    div.col.col--7-of-12
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Визитки могут быть персональными — представляющими конкретного сотрудника — и корпоративными.

        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Персональные визитные карточки
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Персональные визитные карточки вручает лично их владелец. На них обязательно указываются имя сотрудника, номер его телефона и адрес электронной почты.

section.row.marginBottom-l
    div.col.col--7-of-12
        div.img-container.marginBottom-m
            img(src='http://placehold.it/600x300')
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Лицевая сторона

        div.img-container.marginBottom-m
            img(src='http://placehold.it/600x300')
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Оборотная сторона

    div.col.col--5-of-12
        p.lineHeight-m.fontSize-m.fontWeight-5.marginBottom-s Имя сотрудника
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Шрифт: Story Regular
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Кегль: 12 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Интерлиньяж: 14 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Разрядка: 10

        p.lineHeight-m.fontSize-m.fontWeight-5.marginBottom-s Должность
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Шрифт: Story Regular
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Кегль: 7,5 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Интерлиньяж: 11 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Разрядка: 10

        p.lineHeight-m.fontSize-m.fontWeight-5.marginBottom-s Контактная информация
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Шрифт: Story Regular
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Кегль: 7,5 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Интерлиньяж: 11 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xl Разрядка: 10

        div.bg__club_snow.box-border.borderRadius-m.marginBottom-s
            div.padding-m
                p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Размер: 90 × 50 мм
                p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Материал: бумага типа «Ривс Рефлекшн» белого цвета плотностью 320 г/м2
                p.lineHeight-m.fontSize-m.fontWeight-3 Цветность: 4 + 4

section.row.marginBottom-l
    div.col.col--7-of-12
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Корпоративная визитная карточка
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Корпоративные визитные карточки используются тогда, когда нужно донести основную информацию о проекте. Они обычно раздаются на выставках, презентациях или в офисах.

section.row.marginBottom-xl
    div.col.col--7-of-12
        div.img-container.marginBottom-m
            img(src='http://placehold.it/600x300')

    div.col.col--5-of-12
        p.lineHeight-m.fontSize-m.fontWeight-5.marginBottom-s Контактная информация
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Шрифт: Story Regular
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Кегль: 7,5 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Интерлиньяж: 11 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xl Разрядка: 10

        div.bg__club_snow.box-border.borderRadius-m.marginBottom-s
            div.padding-m
                p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Размер: 90 × 50 мм
                p.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Материал: бумага типа «Ривс Рефлекшн» белого цвета плотностью 320 г/м2
                p.lineHeight-m.fontSize-m.fontWeight-3 Цветность: 4 + 0

section.row.marginBottom-l
    div.col.col--12-of-12
        p#badge.fontSize-xxl.lineHeight-xl.fontWeight-4 Бейдж

section.row.marginBottom-l
    div.col.col--7-of-12
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l На бейдже указывается имя сотрудника и его должность. Нижняя часть бейджа и лента украшаются фирменным узором.

ection.row.marginBottom-xl
    div.col.col--7-of-12
        div.img-container.marginBottom-m
            img(src='http://placehold.it/600x1000')

    div.col.col--5-of-12
        p.lineHeight-m.fontSize-m.fontWeight-5.marginBottom-s Имя сотрудника
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Шрифт: Story Regular
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Кегль: 17 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Интерлиньяж: 20 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Разрядка: 10

        p.lineHeight-m.fontSize-m.fontWeight-5.marginBottom-s Должность
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Шрифт: Story Regular
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Кегль: 9 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Интерлиньяж: 11 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Разрядка: 10

        p.lineHeight-m.fontSize-m.fontWeight-5.marginBottom-s Дополнительная информация
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Шрифт: Story Regular
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Кегль: 9 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-xxs Интерлиньяж: 11 п.
        p.c-silver.lineHeight-m.fontSize-m.fontWeight-3.marginBottom-l Разрядка: 10