section.row.marginBottom-xl
    div.marginTop-l.marginBottom-l.col.col--12-of-12
        h2.fontSize-xxxl.fontWeight-4 E-mail шаблон

section.row.marginBottom-xl
    div.col.col--12-of-12
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Фреймворк
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-m
            | Дизайн и разработка HTML-шаблонов электронных писем построены на основе фреймворка
            a.link.link--blue.fontWeight-4(href='http://foundation.zurb.com/emails.html')  Foundation for Emails
            |, который позволяет тратить меньше времени на написание кода и получать качественный результат, который отлично выглядит на любом устройстве и любом email-клиенте, даже на Outlook.

        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='http://foundation.zurb.com/emails/docs/' role='button') Документация фреймворка
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='https://github.com/denvolchkevich/Dowlatow_Emails' role='button' target='_blank') Шаблоны на GitHub


section.row.marginBottom-xl
    div.col.col--6-of-12.marginBottom-xl
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Маркетинговое письмо
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Общий шаблон для маркетинговых рассылок. Имеет секцию призыва к действию с кнопкой на всю ширину окна.
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m
                div.email-mockup-container
                    div.email-mockup
                        img(src='../../img/club/email-mockup-marketing@1x.png' srcset='../../img/club/email-mockup-marketing@2x.png, ../../img/club/email-mockup-marketing@3x.png')

        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m.width-100(href='http://emails.volchkevich.pro/club/marketing.html' role='button' target='_blank') Посмотреть шаблон

    div.col.col--6-of-12.marginBottom-xl
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Анонс статей / курсов / новостей
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Статьи, курсы и новости имеют единый шаблон. Элемент письма состоит из баннера, названия, вводного текста и кнопки.
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m
                div.email-mockup-container
                    div.email-mockup
                        img(src='../../img/club/email-mockup-news@1x.png' srcset='../../img/club/email-mockup-news@2x.png, ../../img/club/email-mockup-news@3x.png')

        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m.width-100(href='http://emails.volchkevich.pro/club/news.html' role='button' target='_blank') Посмотреть шаблон

    div.col.col--6-of-12.marginBottom-xl
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Благодарственное письмо
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Благодарственное письмо отправляется пользователю за покупки, достижения и регистрацию на сайте. Состоит из баннера, текст и кнопки.
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m
                div.email-mockup-container
                    div.email-mockup
                        img(src='../../img/club/email-mockup-thanks@1x.png' srcset='../../img/club/email-mockup-thanks@2x.png, ../../img/club/email-mockup-thanks@3x.png')

        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m.width-100(href='http://emails.volchkevich.pro/club/thanks.html' role='button' target='_blank') Посмотреть шаблон

    div.col.col--6-of-12.marginBottom-xl
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Системное сообщение
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Текст системного сообщения автоматически генерируется сервером как ответ на действие пользователя.
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m
                div.email-mockup-container
                    div.email-mockup
                        img(src='../../img/club/email-mockup-info@1x.png' srcset='../../img/club/email-mockup-info@2x.png, ../../img/club/email-mockup-info@3x.png')

        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m.width-100(href='http://emails.volchkevich.pro/club/info.html' role='button' target='_blank') Посмотреть шаблон