section.row.marginBottom-xl
    div.marginTop-l.marginBottom-l.col.col--12-of-12
        h2.fontSize-xxxl.fontWeight-4 Логотип


// Вертикальная версия логотипа
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Вертикальная композиция знака

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/vertical-logo@1x.png' srcset='../../img/club/vertical-logo@2x.png, ../../img/club/vertical-logo@3x.png')

    div.col.col--5-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-s Вертикальный знак
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Вертикальная версия знака состоит из символа и названия.
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Основная конфигурация всегда является предпочтительным вариантом при отсутствии технологических или производственных ограничений.

        h3.fontSize-xl.lineHeight-xl.marginBottom-s Возможные применения
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Типовые рекламные материалы, почтовая рассылка, POS-материалы, оформление розничных точек, промо-акции, бланки корреспонденции.


// Вертикальная версия логотипа / Построение
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Вертикальная композиция знака | Построение

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/vertical-logo-spec@1x.png' srcset='../../img/club/vertical-logo-spec@2x.png, ../../img/club/vertical-logo-spec@3x.png')

    div.col.col--5-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Значение «X» задает высота литеры «К» из логотипа. Рекомендуемое минимальное значение «Х» — 3,5 мм

        h3.fontSize-xl.lineHeight-xl.marginBottom-s Пропорции
        div.x-value-container.marginBottom-xs
            div.x-value.marginTopBottom-m
                img(src='../../img/club/x-value@1x.png' srcset='../../img/club/x-value@2x.png, ../../img/club/x-value@3x.png')
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Высота названия: 1X
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Высота символа: 5X


// Вертикальная версия логотипа / Охранное поле
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Вертикальная композиция знака | Охранное поле

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/vertical-logo-safety@1x.png' srcset='../../img/club/vertical-logo-safety@2x.png, ../../img/club/vertical-logo-safety@3x.png')

    div.col.col--5-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Вокруг знака необходимо оставлять пустое пространство — «охранное поле». Знак в пределах охранного поля не должен пересекаться с иными элементами.

        h3.fontSize-xl.lineHeight-xl.marginBottom-s Размер охранного поля
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Значение задает высота литеры «К» из логотипа.
        div.x-value-container.marginBottom-xs
            div.x-value.marginTopBottom-m
                img(src='../../img/club/x-value@1x.png' srcset='../../img/club/x-value@2x.png, ../../img/club/x-value@3x.png')


// Горизонтальная версия знака
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Горизонтальная композиция знака

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/horizontal-logo@1x.png' srcset='../../img/club/horizontal-logo@2x.png, ../../img/club/horizontal-logo@3x.png')

    div.col.col--5-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-s Горизонтальный знак
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Горизонтальная версия знака состоит из символа и названия.

        h3.fontSize-xl.lineHeight-xl.marginBottom-s Возможные применения
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Веб-страницы, типовые рекламные материалы, почтовая рассылка, POS-материалы, оформление розничных точек, промо-акции, бланки корреспонденции.


// Горизонтальная версия знака / Построение
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Горизонтальная композиция знака | Построение

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/horizontal-logo-spec@1x.png' srcset='../../img/club/horizontal-logo-spec@2x.png, ../../img/club/horizontal-logo-spec@3x.png')

    div.col.col--5-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Значение «X» задает высота литеры «К» из логотипа. Рекомендуемое минимальное значение «Х» — 3 мм

        h3.fontSize-xl.lineHeight-xl.marginBottom-s Пропорции
        div.x-value-container.marginBottom-xs
            div.x-value.marginTopBottom-m
                img(src='../../img/club/x-value@1x.png' srcset='../../img/club/x-value@2x.png, ../../img/club/x-value@3x.png')
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Высота названия: 1X
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Высота символа: 5X


// Горизонтальная версия знака / Охранное поле
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Горизонтальная композиция знака | Охранное поле

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/horizontal-logo-safety@1x.png' srcset='../../img/club/horizontal-logo-safety@2x.png, ../../img/club/horizontal-logo-safety@3x.png')

    div.col.col--5-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Вокруг знака необходимо оставлять пустое пространство — «охранное поле». Знак в пределах охранного поля не должен пересекаться с иными элементами.

        h3.fontSize-xl.lineHeight-xl.marginBottom-s Размер охранного поля
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Значение задает высота литеры «К» из логотипа.
        div.x-value-container.marginBottom-xs
            div.x-value.marginTopBottom-m
                img(src='../../img/club/x-value@1x.png' srcset='../../img/club/x-value@2x.png, ../../img/club/x-value@3x.png')


// Цветная версия знака
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Цветная версия знака

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/vertical-logo-color@1x.png' srcset='../../img/club/vertical-logo-color@2x.png, ../../img/club/vertical-logo-color@3x.png')

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden
            div.color-palette__item.borderRadiusTop-m.box-color.bg__club_logo_yellow_l
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  ffb300
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  255, 179, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 30, 100, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  7409 C

            div.color-palette__item.borderRadius-0.box-color.bg__club_logo_yellow
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  ffa000
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  255, 160, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 37, 100, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  137 C

            div.color-palette__item.borderRadiusBottom-m.box-color.marginBottom-l.bg__club_logo_yellow_d
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  ff8f00
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  255, 143, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 44, 100, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  144 C

            div.color-palette__item.borderRadius-m.box-color.bg__club_logo_black
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  000000
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  0, 0, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 0, 0, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  BlackC


// Монохромная версия знака
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Монохромная версия знака

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/vertical-logo-mono@1x.png' srcset='../../img/club/vertical-logo-mono@2x.png, ../../img/club/vertical-logo-mono@3x.png')

    div.col.col--4-of-12.marginBottom-l
        div.color-palette.overflow-hidden.marginBottom-l
            div.color-palette__item.borderRadius-m.box-color.bg__club_logo_black
                div.padding-s
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  hex
                        span.fontWeight-3  000000
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  rgb
                        span.fontWeight-3  0, 0, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  cmyc
                        span.fontWeight-3  0, 0, 0, 0
                    p.color-palette__color-value.fontSize-s.lineHeight-m.c-white.textTransform-uppercase  Pantone
                        span.fontWeight-3  BlackC

        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Используется в случаях, когда цветная печать невозможна.


// Использование знака на тёмном фоне
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Использование знака на тёмном фоне

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/vertical-logo-mono-black-bg@1x.png' srcset='../../img/club/vertical-logo-mono-black-bg@2x.png, ../../img/club/vertical-logo-mono-black-bg@3x.png')

    div.col.col--5-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l На темном фоне используется только монохромная версия.


// Использование знака на дробном фоне
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Использование знака на дробном фоне

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/vertical-logo-dif-bg@1x.png' srcset='../../img/club/vertical-logo-dif-bg@2x.png, ../../img/club/vertical-logo-dif-bg@3x.png')

    div.col.col--5-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l В случаях, когда знак распологается на сложном или «неудобном» фоне, рекомендуется использовать вертикальную версию логотипа с круглой плашкой. Размер круглой плашки напрямую зависит от охраного поля знака.


// Недопустимые варианты использования знака
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Недопустимые варианты использования знака

section.row.marginBottom-xl
    div.col.col--7-of-12.col--am
        div.img-container.marginBottom-l
            img(src='../../img/club/ban-logos@1x.png' srcset='../../img/club/ban-logos@2x.png, ../../img/club/ban-logos@3x.png')

    div.col.col--5-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-l Приведенные примеры иллюстрируют проблемные ситуации, которые необходимо избегать при использовании знака. Эти примеры не являются полным перечнем неправильных вариантов использования, но они дают представление о том, как нельзя изображать знак.

        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 1. Неверные пропорции знака;
        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 2. Искажение знака;
        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 3. Смещение символа;
        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 4. Искажение логотипа;
        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 5. Использование нефирменных цветов в знаке;
        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 6. Неверное построение знака;
        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 7. Нарушение охранного поля;
        p.c-negative.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs 8. Нарушение охранного поля;


// Недопустимые варианты использования знака
section.row.marginBottom-l
    div.col.col--12-of-12
        p.fontSize-xxl.lineHeight-xl.fontWeight-4.marginBottom-xs Используйте только оригинальные файлы
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3
            | Здесь вы можете скачать логотипы проекта "Клуб творцов жизни". По вопросам получения разрешения на использование логотипов просим писать на
            a.link.link--blue.fontWeight-4(href='mailto:media@dowlatow.ru')  media@dowlatow.ru
            |.

section.row.marginBottow-xl
    div.col.col--12-of-12.marginBottom-s
        h4.fontSize-xl.lineHeight-xl Вертикальная композиция

    div.col.col--6-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-s Цветная версия знака:
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/vertical-logo-color.png' role='button' download) PNG
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/vertical-logo-color.eps' role='button' download) EPS

    div.col.col--6-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-s Монохромная версия знака:
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/vertical-logo-mono.png' role='button' download) PNG
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/vertical-logo-mono.eps' role='button' download) EPS

    div.col.col--12-of-12.marginBottom-s
        h4.fontSize-xl.lineHeight-xl Горизонтальная композиция

    div.col.col--6-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-s Цветная версия знака:
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/horizontal-logo-color.png' role='button' download) PNG
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/horizontal-logo-color.eps' role='button' download) EPS

    div.col.col--6-of-12.marginBottom-l
        p.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-s Монохромная версия знака:
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/horizontal-logo-mono.png' role='button' download) PNG
        a.button.button--m.button--ghost.bg--dowlatow-hover.marginRight-m(href='../resources/club/logo/horizontal-logo-mono.eps' role='button' download) EPS