section.row.marginBottom-xl
    div.marginTop-l.marginBottom-l.col.col--12-of-12
        h2.fontSize-xxxl.fontWeight-4 Типографика

section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Основной шрифт
        p.c-silver.c-silver.lineHeight-l.fontSize-l.fontWeight-3
            | В оформлении основной части веб-материалов используется шрифт Roboto. Актуальная версия шрифта:
            a.link.link--blue(href='https://fonts.google.com/specimen/Roboto')  Google Fonts - Roboto
            |.


    div.col.col--12-of-12
        div.box-border.borderRadius-m
            div.padding-m
                div.paddingLeft-xxs.paddingRight-xxs
                    div.inline.marginBottom-s.fontSize-xl.lineHeight-xl
                        div.marginRight-xs А
                        div.marginRight-xs Б
                        div.marginRight-xs В
                        div.marginRight-xs Г
                        div.marginRight-xs Д
                        div.marginRight-xs Е
                        div.marginRight-xs Ё
                        div.marginRight-xs Ж
                        div.marginRight-xs З
                        div.marginRight-xs И
                        div.marginRight-xs Й
                        div.marginRight-xs Д
                        div.marginRight-xs К
                        div.marginRight-xs Л
                        div.marginRight-xs М
                        div.marginRight-xs Н
                        div.marginRight-xs О
                        div.marginRight-xs П
                        div.marginRight-xs Р
                        div.marginRight-xs С
                        div.marginRight-xs Т
                        div.marginRight-xs У
                        div.marginRight-xs Ф
                        div.marginRight-xs Х
                        div.marginRight-xs Ц
                        div.marginRight-xs Ч
                        div.marginRight-xs Ш
                        div.marginRight-xs Щ
                        div.marginRight-xs Ъ
                        div.marginRight-xs Ы
                        div.marginRight-xs Ь
                        div.marginRight-xs Э
                        div.marginRight-xs Ю
                        div.marginRight-xs Я

                    div.inline.marginBottom-s.fontSize-xl.lineHeight-xl
                        div.marginRight-xs а
                        div.marginRight-xs б
                        div.marginRight-xs в
                        div.marginRight-xs г
                        div.marginRight-xs д
                        div.marginRight-xs е
                        div.marginRight-xs ё
                        div.marginRight-xs ж
                        div.marginRight-xs з
                        div.marginRight-xs и
                        div.marginRight-xs й
                        div.marginRight-xs д
                        div.marginRight-xs к
                        div.marginRight-xs л
                        div.marginRight-xs м
                        div.marginRight-xs н
                        div.marginRight-xs о
                        div.marginRight-xs п
                        div.marginRight-xs р
                        div.marginRight-xs с
                        div.marginRight-xs т
                        div.marginRight-xs у
                        div.marginRight-xs ф
                        div.marginRight-xs х
                        div.marginRight-xs ц
                        div.marginRight-xs ч
                        div.marginRight-xs ш
                        div.marginRight-xs щ
                        div.marginRight-xs ъ
                        div.marginRight-xs ы
                        div.marginRight-xs ь
                        div.marginRight-xs э
                        div.marginRight-xs ю
                        div.marginRight-xs я

                    div.inline.marginBottom-s.fontSize-xl.lineHeight-xl
                        div.marginRight-xs 1
                        div.marginRight-xs 2
                        div.marginRight-xs 3
                        div.marginRight-xs 4
                        div.marginRight-xs 5
                        div.marginRight-xs 6
                        div.marginRight-xs 7
                        div.marginRight-xs 8
                        div.marginRight-xs 9
                        div.marginRight-xs 0


section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Дополнительный шрифт
        p.c-silver.c-silver.lineHeight-l.fontSize-l.fontWeight-3
            | Дополнительным шрифтом является семейство Roboto Slab, который используется для заголовков и выделения важных фрагментов в тексте. Актуальная версия шрифта:
            a.link.link--blue(href='https://fonts.google.com/specimen/Roboto')  Google Fonts - Roboto Slab
            | .


    div.col.col--12-of-12.fontFamily-RobotoSlab
        div.box-border.borderRadius-m
            div.padding-m
                div.paddingLeft-xxs.paddingRight-xxs
                    div.inline.marginBottom-s.fontSize-xl.lineHeight-xl
                        div.marginRight-xs А
                        div.marginRight-xs Б
                        div.marginRight-xs В
                        div.marginRight-xs Г
                        div.marginRight-xs Д
                        div.marginRight-xs Е
                        div.marginRight-xs Ё
                        div.marginRight-xs Ж
                        div.marginRight-xs З
                        div.marginRight-xs И
                        div.marginRight-xs Й
                        div.marginRight-xs Д
                        div.marginRight-xs К
                        div.marginRight-xs Л
                        div.marginRight-xs М
                        div.marginRight-xs Н
                        div.marginRight-xs О
                        div.marginRight-xs П
                        div.marginRight-xs Р
                        div.marginRight-xs С
                        div.marginRight-xs Т
                        div.marginRight-xs У
                        div.marginRight-xs Ф
                        div.marginRight-xs Х
                        div.marginRight-xs Ц
                        div.marginRight-xs Ч
                        div.marginRight-xs Ш
                        div.marginRight-xs Щ
                        div.marginRight-xs Ъ
                        div.marginRight-xs Ы
                        div.marginRight-xs Ь
                        div.marginRight-xs Э
                        div.marginRight-xs Ю
                        div.marginRight-xs Я

                    div.inline.marginBottom-s.fontSize-xl.lineHeight-xl
                        div.marginRight-xs а
                        div.marginRight-xs б
                        div.marginRight-xs в
                        div.marginRight-xs г
                        div.marginRight-xs д
                        div.marginRight-xs е
                        div.marginRight-xs ё
                        div.marginRight-xs ж
                        div.marginRight-xs з
                        div.marginRight-xs и
                        div.marginRight-xs й
                        div.marginRight-xs д
                        div.marginRight-xs к
                        div.marginRight-xs л
                        div.marginRight-xs м
                        div.marginRight-xs н
                        div.marginRight-xs о
                        div.marginRight-xs п
                        div.marginRight-xs р
                        div.marginRight-xs с
                        div.marginRight-xs т
                        div.marginRight-xs у
                        div.marginRight-xs ф
                        div.marginRight-xs х
                        div.marginRight-xs ц
                        div.marginRight-xs ч
                        div.marginRight-xs ш
                        div.marginRight-xs щ
                        div.marginRight-xs ъ
                        div.marginRight-xs ы
                        div.marginRight-xs ь
                        div.marginRight-xs э
                        div.marginRight-xs ю
                        div.marginRight-xs я

                    div.inline.marginBottom-s.fontSize-xl.lineHeight-xl
                        div.marginRight-xs 1
                        div.marginRight-xs 2
                        div.marginRight-xs 3
                        div.marginRight-xs 4
                        div.marginRight-xs 5
                        div.marginRight-xs 6
                        div.marginRight-xs 7
                        div.marginRight-xs 8
                        div.marginRight-xs 9
                        div.marginRight-xs 0


section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Размеры шрифта
        p.c-silver.c-silver.lineHeight-l.fontSize-l.fontWeight-3 Размерность шрифта состоит из 9 размеров.

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xxxxl Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 46px — экстра экстра экстра экстра большой (xxxxl)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xxxl Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 38px — экстра экстра экстра большой (xxxl)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xxl Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 28px — экстра экстра большой (xxl)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xl Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 20px — экстра большой (xl)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-l Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 18px — большой (l)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-m Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 16px — средний (m)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-s Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 14px — малый (s)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xs Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 12px — экстра малый (xs)

    div.col.col--12-of-12
        div.box-border.borderRadius-m.marginBottom-s
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xxs Сообщество счастливых людей
                        p.fontSize-s.fontWeight-3.c-silver 10px — экстра экстра малый (xxs)

section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        h3.fontSize-xl.lineHeight-xl.marginBottom-xs Плотность шрифта
        p.c-silver.c-silver.lineHeight-l.fontSize-l.fontWeight-3 Для использования доступны три показателя плотности шрифта — Легкий, Обычный и Средний.

    div.col.col--4-of-12
        div.box-border.borderRadius-m.marginBottom-s.textAlign-center
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xxxxl.fontWeight-3 Аа
                        p.fontSize-s.fontWeight-3.c-silver Легкий

    div.col.col--4-of-12
        div.box-border.borderRadius-m.marginBottom-s.textAlign-center
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xxxxl.fontWeight-4 Аа
                        p.fontSize-s.fontWeight-3.c-silver Регулярный

    div.col.col--4-of-12
        div.box-border.borderRadius-m.marginBottom-s.textAlign-center
            div.padding-m.whiteSpace-nowrap.overflowX-scroll
                div.paddingLeft-xxs.paddingRight-xxs
                    div.padding-xxs
                        div.marginBottom-s
                            p.fontSize-xxxxl.fontWeight-5 Аа
                        p.fontSize-s.fontWeight-3.c-silver Средний