section.row.marginBottom-xl
    div.col.col--12-of-12.marginTop-l.marginBottom-l
        h2.fontSize-xxxl.fontWeight-4 Страница не найдена
    div.col.col--12-of-12
        p.fontSize-xl.lineHeight-xl.fontWeight-3 Так уж получилось, что из множества страниц нашего сайта Вы оказались как раз на той, которая уже не существует...