section.row.marginBottom-xl
    div.col.col--12-of-12.marginTop-l.marginBottom-xl
        h2.fontSize-xxxl.fontWeight-4 Введение
    div.col.col--12-of-12
        p.fontSize-xl.lineHeight-xl.fontWeight-3 С ростом компании Константина Довлатова мы столкнулись с проблемой усовершенствования идентичности бренда и применения универсальных правил к каждому из наших продуктов. Мы создали этот справочник как централизованное место хранения UI компонентов, руководящих принципов бренда, руководств дизайна, кода и многое другое. Этот справочник – живой документ, который будет дополняться и обновляться.

section.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Цель

    div.col.col--4-of-12
        i.fa.fa-file-text.iconSize-xxxl.c-dowlatow.marginBottom-m
        p.fontSize-l.lineHeight-l.marginBottom-xxs.fontWeight-4 Единый язык дизайна
        p.c-silver.lineHeight-l.fontSize-m.fontWeight-3.marginBottom-l Визуальный язык становится проще и приносит удовольствие в работе.

    div.col.col--4-of-12
        i.fa.fa-exchange.iconSize-xxxl.c-positive.marginBottom-m
        p.fontSize-l.lineHeight-l.marginBottom-xxs.fontWeight-4 Независимая система
        p.c-silver.lineHeight-l.fontSize-m.fontWeight-3.marginBottom-l Унифицированная система, которая просто работает на всех платформах и устройствах.

    div.col.col--4-of-12
        i.fa.fa-paint-brush.iconSize-xxxl.c-warning.marginBottom-m
        p.fontSize-l.lineHeight-l.marginBottom-xxs.fontWeight-4 Высокая скорость
        p.c-silver.lineHeight-l.fontSize-m.fontWeight-3.marginBottom-l Разработчики используют единые принципы в решении задач без участия дизайнера.

div.row.marginBottom-xl
    div.col.col--12-of-12.marginBottom-l
        p.fontSize-xxl.lineHeight-xl.fontWeight-4 Часто задаваемые вопросы

    div.col.col--6-of-12
        p.fontSize-l.lineHeight-l.marginBottom-xxs.fontWeight-4 Что такое гайдлайн?
        p.c-silver.lineHeight-l.fontSize-m.fontWeight-3.marginBottom-l Наш гайдлайн – живой справочник основных элементов фирменного стиля и принципов их построения, UI компонентов, руководств дизайна и кода.

    div.col.col--6-of-12
        p.fontSize-l.lineHeight-l.marginBottom-xxs.fontWeight-4 Что входит в гайдлайн?
        p.c-silver.lineHeight-l.fontSize-m.fontWeight-3.marginBottom-l В основе гайдлайна лежат несколько базовых элементов: логотип, цвета и типографика. Они служат отправной точкой при решении любых оформительских задач.

    div.col.col--6-of-12
        p.fontSize-l.lineHeight-l.marginBottom-xxs.fontWeight-4 Какие задачи решает гайдлайн?
        p.c-silver.lineHeight-l.fontSize-m.fontWeight-3.marginBottom-l Наличие чётких принципов позволяет следить за соблюдением выработанных стандартов, с которыми будут иметь дело сотрудники компании, дизайнеры и полиграфисты. Изложенные здесь правила помогут им сделать работу корректно и качественно.

    div.col.col--6-of-12
        p.fontSize-l.lineHeight-l.marginBottom-xxs.fontWeight-4 Кому нужен гайдлайн?
        p.c-silver.lineHeight-l.fontSize-m.fontWeight-3.marginBottom-l Наш гайдлайн адресован широкому кругу лиц, кто так или иначе имеет отношение к развитию и продвижению компании.