section.row.marginBottom-xl
    div.col.col--12-of-12.marginTop-l.marginBottom-xl
        h2.fontSize-xxxl.fontWeight-4 Проекты
    div.col.col--12-of-12
        p.fontSize-xl.lineHeight-xl.fontWeight-3 Проекты Константина Довлатова направлены на развивитие личных и деловых способностей и возможностей. Мы создаем и проводим тренинги, курсы, обучающие программы, которые позволяют качественно улучшать свою жизнь и жизнь своего ближайшего окружения: становиться более счастливым, обеспеченным, гармоничным. Ключевой принцип: «Раскрывая свой потенциал, человек совершенствуется и улучшает мир вокруг себя».

section.row.marginBottom-xl
    div.col.col--6-of-12.project-short-desc.marginBottom-xl
        p.project-short-desc__title.fontSize-xl.lineHeight-xl.marginBottom-xxs.fontWeight-4 Клуб творцов жизни
        p.project-short-desc_text.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Сообщество счастливых людей. Вместе с нами вы создаете жизнь своей мечты. Новые друзья и общение. Поддержка психологов.
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/club/logotype.html') Логотип
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/club/colors.html') Цвета
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/club/typography.html') Типографика
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/club/docs.html') Документация
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/club/email-template.html') E-mail шаблон

    div.col.col--6-of-12.project-short-desc.marginBottom-xl
        p.project-short-desc__title.fontSize-xl.lineHeight-xl.marginBottom-xxs.fontWeight-4 Духовная Интеграционика
        p.project-short-desc_text.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Волшебная палочка изменения реальности. Раскройте свой потенциал - станьте собой настоящим. Живите той жизнью, о которой мечтали.
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/di/logotype.html') Логотип
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/di/colors.html') Цвета
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/di/typography.html') Типографика
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/di/docs.html') Документация
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/di/email-template.html') E-mail шаблон

    div.col.col--6-of-12.project-short-desc.marginBottom-xl
        p.project-short-desc__title.fontSize-xl.lineHeight-xl.marginBottom-xxs.fontWeight-4 Максимальная Жизнь
        p.project-short-desc_text.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Скорая помощь в реализации вашей мечты. Трансформирующая онлайн программа: длится 30 дней, меняет жизнь навсегда!
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/mak/logotype.html') Логотип
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/mak/colors.html') Цвета
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/mak/typography.html') Типографика
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/mak/docs.html') Документация
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/mak/email-template.html') E-mail шаблон

    div.col.col--6-of-12.project-short-desc.marginBottom-xl
        p.project-short-desc__title.fontSize-xl.lineHeight-xl.marginBottom-xxs.fontWeight-4 Школа Коучинга
        p.project-short-desc_text.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Получите востребованную, удаленную, высокооплачиваемую профессию будущего. Уникальное обучение для избранных.
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/coach-school/logotype.html') Логотип
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/coach-school/colors.html') Цвета
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/coach-school/typography.html') Типографика
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/coach-school/docs.html') Документация
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/coach-school/email-template.html') E-mail шаблон

    div.col.col--6-of-12.project-short-desc.marginBottom-xl
        p.project-short-desc__title.fontSize-xl.lineHeight-xl.marginBottom-xxs.fontWeight-4 Путь к Себе
        p.project-short-desc_text.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Метафорические карты откроют простой и безопасный доступ к вашему подсознанию. Покажут истоки ваших проблем и пути их решения.
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/way/logotype.html') Логотип
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/way/colors.html') Цвета
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/way/typography.html') Типографика
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/way/docs.html') Документация
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/way/email-template.html') E-mail шаблон

    div.col.col--6-of-12.project-short-desc.marginBottom-xl
        p.project-short-desc__title.fontSize-xl.lineHeight-xl.marginBottom-xxs.fontWeight-4 Сервис консультантов
        p.project-short-desc_text.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Профессиональные коучи и психологи помогут вам найти решения ваших проблем, снять блоки. Быстро, качественно, навсегда.
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/consult-online/logotype.html') Логотип
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/consult-online/colors.html') Цвета
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/consult-online/typography.html') Типографика
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/consult-online/docs.html') Документация
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/consult-online/email-template.html') E-mail шаблон

    div.col.col--6-of-12.project-short-desc.marginBottom-xl
        p.project-short-desc__title.fontSize-xl.lineHeight-xl.marginBottom-xxs.fontWeight-4 Психолог онлайн
        p.project-short-desc_text.c-silver.lineHeight-l.fontSize-l.fontWeight-3.marginBottom-xs Сервис для профессиональных психологов и коучей. Удобная работа с клиентами, онлайн кабинет для работы с метафорическими картами.
        div.projects-nav.inline
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/psy-online/logotype.html') Логотип
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/psy-online/colors.html') Цвета
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/psy-online/typography.html') Типографика
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/psy-online/docs.html') Документация
            div.projects-nav__item
                a.link.link--light.fontSize-s.lineHeight-m.marginRight-xs(href='/psy-online/email-template.html') E-mail шаблон