section.sidebar-container
    section.sidebar-header
        div.sidebar-header__brand
            div.sidebar-header__brand-img
                a(href='#')
                    img(src='PATH_TO_ROOT/img/logo.png' srcset='img/logo@2x.png, img/logo@3x.png')
            span.sidebar-header__title.textTransform-uppercase Гайдлайн

    footer.sidebar-footer
        span.sidebar-footer__copyright &copy; ООО «Интеграционика» - 0.1.5-alpha

    nav.sidebar-nav

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Краткий обзор
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.is-active(href='index.html') Введение
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line(href='projects.html') Проекты

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Клуб творцов жизни
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line(href='/club/logotype.html') Логотип
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line(href='/club/colors.html') Цвета
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line(href='/club/typography.html') Типографика
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line(href='/club/docs.html') Документация
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line(href='/club/email-template.html') E-mail

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Школа коучинга
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Логотип
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Цвета
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Типографика
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Документация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') E-mail
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро


        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Путь к себе
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Логотип
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Цвета
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Типографика
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Документация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') E-mail
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Максимальная жизнь
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Логотип
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Цвета
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Типографика
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Документация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') E-mail
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Духовная интеграционика
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Логотип
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Цвета
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Типографика
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Документация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') E-mail
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Консультант онлайн
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Логотип
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Цвета
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Типографика
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Документация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') E-mail
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Психолог онлайн
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Логотип
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Цвета
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Типографика
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Документация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') E-mail
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Маркетинг
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Подбор изображений
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Размеры картинок
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Дизайн
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Организация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Сетка
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Рисование
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Документация
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Продакшн
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Ресурсы
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро

        dl.sidebar-nav__item-container
            dt.sidebar-nav__item
                span.link.link--dark.padding-s.fontSize-l
                    span.padding-xs.paddingRight-m Компоненты
                div.sidebar-nav__icon-container
                    div.sidebar-nav__icon
                        i.fa.fa-caret-down
            dd.sidebar-nav__item-secondary-container.paddingLeftRight-l.paddingTopBottom-m
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Кнопки
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Формы
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Ссылки
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Списки
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Попап
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро
                div.sidebar-nav__item-secondary
                    a.paddingLeftRight-m.paddingTopBottom-xs.fontSize-m.lineHeight-m.link--light.line.display-inlineBlock(href='#') Тултипы
                    span.coming-soon.bg-snow--d.c-silver.textTransform-uppercase.fontWeight-4.padding-xxs.borderRadius-m.verticalAlign-middle Скоро