doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title Styleguide - Colors
        meta(name='description' content='Централизованное место хранения UI компонентов, руководящих принципов бренда, руководств дизайна и кода')
        meta(name='author' content='Denis Volchkevich')
        link( type='text/plain' rel='author' href='http://style.volchkevich.pro/humans.txt')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        link(rel='stylesheet' href='../style/main.css')

        link(rel='shortcut icon' type='../image/png' href='#')

        script(src='https://use.fontawesome.com/aec116ab0c.js')

    body
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        // Content here
        aside.sidebar
            include ../includes/_sidebar

        section.main
            div.main-container.pageWrap
                include ../includes/club/_colors.jade


        // jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        script(src='../js/collapse-min.js')

        // Google analytics
        script.
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        // script(src='https://www.google-analytics.com/analytics.js' async defer)